h1 {
    color: black;
    text-align: center;
    /*border-color: blue; */
}

h2 {
  margin: 10px;
}

.page-news {
    font-family: Arial, sans-serif;
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
}

.page-impressum {
    /* font-family: Arial, sans-serif; */
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
    font-style: normal;

  font-family: "Oswald", sans-serif;
  font-weight: 300;



    
}
.page-feedback {
    font-family: Arial, sans-serif;
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
}
.page-details2 {
    font-family: Arial, sans-serif;
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
}
.page-details1 {
    font-family: Arial, sans-serif;
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
}
.page-abtme {
    font-family: Arial, sans-serif;
    /* background-color: rgb(149, 149, 149); */
    background-image: url(../imgs/background_generate.png);
}


img {
    width: 300px;
}