/* CSS für Navigation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #343434;
  display: flex;
  justify-content: center;
}
ul li a:hover {
  background-color: #000000;
}
/* CSS für die News-Container */
.news-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
}
