/* Smartphone (Default) */
.news-box{
  float: none;
  width: 100%;
  margin: 0 0 16px 0;
}

/* Tablet */
@media (min-width: 700px){
  .news-box{
    float: left;
    width: 47%;
    margin: 1.5%;
  }
}

/* PC */
@media (min-width: 1100px){
  .news-box{
    width: 30%;
  }
}
