/*
Allgemeine Einstellunge ,für jede Unterseite relevant
*/

:root
{
    --standardpadding: 5px;
}

/* Elemente */
td, li
{
    padding: var(--standardpadding);
}

li 
{
    border: 1px solid green;
}



/* Klassen */