/* 
div{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

p{
    font-family: initial;
    padding: inherit;
}
*/

td{
    border: 1px solid black;
}
table{
    border-collapse: separate; /*hier gibts separate und collapse*/
    border-spacing: 5px; /*existiert nur wenn es einen Abstand gibt bei Tabelle*/
}
thead {
    text-transform: uppercase; /*Text in CAPS*/
    
}
th {
    border-bottom: 2px solid green;
}
tr:hover {
    background-color: lightgrey;
}

tbody tr:nth-child(odd) {  /* ungerade Tabellen färben*/
    background-color: pink;
}