@use "variables.scss";
@use "sass:math";

body {
    background-color: variables.$secondary-color;
}

@mixin theme($farbe: green, $size: 20px) {
    background: $farbe;
    font-size: $size;
    letter-spacing: 1.5;

}

.info {
    @include theme;
    border: 1px solid green;
}

.alert {
    @include theme($farbe: red);
}

.big {
    @include theme($size: 50px);
}

.big2 {
    @include theme($size: math.dv(600, 10));
}

div{
    background-color: yellow;
}

div{
    padding: 5px;
    ul {
        li {
            list-style-type: box;
        }
    }
}